ion-content.background {
    // --background: url("../../../../assets/fondoLogin.png")center center fixed no-repeat;
    --background:#343a40;;
    background-size: contain;
  }
  
  ion-title{
  
    display: flex; 
    text-align: center;
    font-size: large;
    margin-right: 40px;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  
  }
  
  
  .header h1 {
    color: #24272E;
    text-align: center;
    font-family: Asap, sans-serif;
  }
  
  .score-board {
    margin: 10px auto;
    border: 2px solid green;
    border-radius: 4px;
    text-align: center;
    width: 250px;
    color: green;
    font-size: 46px;
    font-weight: 500;
    padding: 5px 10px;
    font-family: Asap, sans-serif;
    position: relative;
  }
  
  .badge {
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
  }
  
  #user-label {
    position: absolute;
    top: 40px;
    left: -30px;
  }
  
  #computer-label {
    position: absolute;
    top: 40px;
    right: -40px;
  }
  
  
  
  .result {
    margin-top: 30px;
    font-size: 20px;
    color: white;
    // background-color:orange;
    text-align: center;
  }
  
  .player-choice {
      text-align: center;
  }
  .computer-choice {
      text-align: center;
  }
  .result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
  }
  
  .choices {
    margin-top: 20px;
    text-align: center;
  }
  
  .choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .choice:hover {
    cursor: pointer;
    background: #24272E;
  }
  
  #action-message {
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 180px;
  }
  
  .content1{
      display:grid;
      grid-template-columns: 2fr 1fr;
      color: white;
    }
    .content2{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: white;
    }
    .score{
      margin-top:.5em;
      margin-left:2em;
      font-size:1.5em;
      color: white;
    }
    
  
    .selectedWeapon{
      background-color: green;
    }
  
    .comp-selected{
      background-color: red;
    }
   
  
  .btn-reset
  {
    width: 20%;
    color: #fff;
    background-color: #ff7b00;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    margin-left: 40%;
    
    
  }
  
  .btn-score{
    width: 20%;
    color: black;
    background-color: skyblue;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    margin-left: 40%;
  }