ion-toolbar{
    --ion-background-color: #000000 !important;
    color: white;
}

ion-content{
    --ion-background-color: #751722 !important;
    
}


@-webkit-keyframes slide-out-left{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}}@keyframes slide-out-left{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}}
.QuitarElemento{
    -webkit-animation:slide-out-left .7s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-left .7s cubic-bezier(.55,.085,.68,.53) both;
}