<ion-header>
  <ion-toolbar>

    <ion-button class="botonSalir " slot="start" (click)="CerrarSesion()">
      <ion-icon class="icono" color='light' src='assets/puerta.svg'></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Menu Metre</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
    <ion-button class="botonesMenu" expand="block" color="warning" (click)='VerSolicitudes()'>Solicitudes De Mesas</ion-button>
    <ion-button class="botonesMenu" expand="block" color="warning" (click)='CargarCliente()'>Registrar Cliente</ion-button>

   
 
</ion-content>