
<ion-content class="background">

  <ion-list style='background:#000000e7' class='mt-2 ml-2 mr-2'>
    <ion-item style='--background:#75172200;' lines='none'>
      <ion-title class='text-center'  color='light'>Pedidos sin confirmar</ion-title>
    </ion-item>
    <hr class='bg-light'>

    <ion-item *ngFor='let unPedido of this.listaPedidosSinConfirmar' (click)='SeleccionarPedido(unPedido)' style='--background:#75172200;--border-color:black'>
      <ion-avatar slot="start" >
        <img [src]='unPedido.cliente.foto'>
      </ion-avatar>
      <ion-label color='light'>{{'Mesa ' + unPedido.numMesa+' - '+unPedido.cliente.apellido +' '+ unPedido.cliente.nombre}}</ion-label>
      <ion-icon  class='text-warning ' name="alert-circle" slot="end"></ion-icon>
    </ion-item>

    <ion-item *ngIf='this.listaPedidosSinConfirmar.length===0' lines='none' style='--background:#75172200;--border-color:black'>
        <ion-title class="text-center text-white">No hay pedidos sin confirmar</ion-title>
    </ion-item>

    
  </ion-list>


</ion-content>
