<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-metre" (click)='Volver()'></ion-back-button>
    </ion-buttons>
    <ion-row class="mt-2">
      
      <ion-col size='6'>
        <div class=" p-2">
          <ion-label class="bg-success rounded p-2 text-white " expand=''>Disponibles: {{this.listaMesasDisponibles.length}} </ion-label> 
        </div>
      </ion-col>
      <!--ion-col size='6' color='dark'>
        <div class=" p-2 ">
          <ion-label class="bg-danger rounded p-2 text-white" expand='block'>Solicitudes: {{this.cantidaSolicitudes}}</ion-label> 
        </div>
      </ion-col-->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item  style="visibility: hidden;position:absolute">
    <ion-label>Que mesa desea limpiar?</ion-label>
    <ion-select [value]="1" okText="Limpiar" cancelText="Cancelar" id='selectLimpiarMesa'>
      <ion-select-option [value]="1">Mesa 1</ion-select-option>
      <ion-select-option [value]="2">Mesa 2</ion-select-option>
      <ion-select-option [value]="3">Mesa 3</ion-select-option>
    </ion-select>
  </ion-item>

  
  <div *ngFor="let unaSolicitud of this.listadoSolicitudes">

    <!--3 Es igual a cliente-->
    
      <ion-card color="dark">
        <img src={{unaSolicitud.cliente.foto}}>
        <ion-card-header>
          <ion-card-title *ngIf='unaSolicitud.cliente.apellido === undefined' style="text-transform: capitalize;">{{unaSolicitud.cliente.nombre}}</ion-card-title>
          <ion-card-title *ngIf='unaSolicitud.cliente.apellido'>{{unaSolicitud.cliente.nombre}} {{unaSolicitud.cliente.apellido}}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <ion-button color="warning" expand='block' (click)="SeleccionarMesa(unaSolicitud)">Asignar Mesa</ion-button>
        </ion-card-content>


      </ion-card>
  </div>
  <div *ngIf='this.listadoSolicitudes.length===0'>

    <!--3 Es igual a cliente-->
    
      <ion-card color="dark" class="text-center">
        
        <img src='assets/metre/cronometro.svg' class="w-75 h-75">
        <ion-card-header>
          <ion-card-title class="text-center">No han llegado clientes nuevos</ion-card-title>
        </ion-card-header>
      </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">    
    
      <ion-fab-button color='warning' (click)='this.AbrirMenuReiniciarMesas()'><ion-icon name="refresh-outline"></ion-icon></ion-fab-button>
    
  </ion-fab>





</ion-content>
