<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-metre"></ion-back-button>
    </ion-buttons>
    <ion-row class="mt-2">
      
      <ion-col size='6'>
        <div class=" p-2">
          <ion-label class="bg-success rounded p-2 text-white " expand=''>Disponibles: {{this.listaMesasDisponibles.length}} </ion-label> 
        </div>
      </ion-col>
      <ion-col size='6' color='dark'>
        <div class=" p-2 ">
          <ion-label class="bg-danger rounded p-2 text-white" expand='block'>Solicitudes: {{this.cantidaSolicitudes}}</ion-label> 
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  
  <div *ngFor="let unaSolicitud of this.listadoSolicitudes">

    <!--3 Es igual a cliente-->
    
      <ion-card color="dark">
        <img src={{unaSolicitud.cliente.foto}}>
        <ion-card-header>
          <ion-card-title *ngIf='unaSolicitud.cliente.apellido === undefined' style="text-transform: capitalize;">{{unaSolicitud.cliente.nombre}}</ion-card-title>
          <ion-card-title *ngIf='unaSolicitud.cliente.apellido'>{{unaSolicitud.cliente.nombre}} {{unaSolicitud.cliente.apellido}}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          
          <ion-button color="success" (click)="SeleccionarMesa(unaSolicitud)">Asignar Mesa</ion-button>
          <ion-button color="danger" (click)="RechazarCliente(unaSolicitud)">Rechazar</ion-button>
          
        </ion-card-content>
      </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color='primary' (click)='this.ReiniciarMesas()'><ion-icon name="list"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color='primary' (click)='this.ReiniciarSolicitudes()' ><ion-icon name="person"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>





</ion-content>
