

<ion-header class="mb-3">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-anonimo"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Solicitar Mesa</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" padding class="background">
  
    <ion-grid class="h-100 ml-3 mr-3  rounded " >
      <ion-row>
        <ion-col class="text-center">
          <ion-label color='light' >Cuantas Personas son?</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='12' class="text-center">
          <ion-button [color]='this.colorBoton1' (click)='this.SeleccionarCantidad(1)'>1</ion-button>
          <ion-button [color]='this.colorBoton2' (click)='this.SeleccionarCantidad(2)'>2</ion-button>
          <ion-button [color]='this.colorBoton3' (click)='this.SeleccionarCantidad(3)'>3</ion-button>
          <ion-button [color]='this.colorBoton4' (click)='this.SeleccionarCantidad(4)'>4</ion-button>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='12'>
          
        </ion-col>
      </ion-row>


      <ion-row *ngIf='eligioCantidad'>
        <ion-col>
          
          <ion-list  style="background-color: rgba(0, 0, 0, 0.61);">
            <ion-radio-group value="Normal" >
              <ion-list-header >
                <ion-label color='light' >Tipo de Mesa</ion-label>
              </ion-list-header>
          
              <ion-item class="fondoItem">
                <ion-label color='light' >Normal</ion-label>
                <ion-radio slot="start" color='primary' value="Normal" (click)='this.nuevaSolicitud.tipo=EtipoMesa.Normal'></ion-radio>
              </ion-item>
          
              <ion-item class='fondoItem'>
                <ion-label  color='light' >Discapacitados</ion-label>
                <ion-radio slot="start" color='primary' value="Discapacitados" (click)='this.nuevaSolicitud.tipo=EtipoMesa.Discapacitados'></ion-radio>
              </ion-item>
            </ion-radio-group>

          </ion-list>

        </ion-col>

      </ion-row>

      <ion-row *ngIf='eligioCantidad'>
        <ion-col>
          <ion-button expand='block' color='primary' (click)='this.SolicitarMesa()'>Solicitar</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    
    
  
    

</ion-content>

<ion-footer class='mt-3'>

</ion-footer>

