<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <!--ion-avatar></ion-avatar-->
      <ion-title>{{this.usuarioLogeado.correo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="ElegirMesa()">Chat<ion-badge slot="end" *ngIf="cantMsg > 0">{{cantMsg}}</ion-badge></ion-item>
      <ion-item (click)="ConfirmarPago()">Confirmar Pagos</ion-item>
      <ion-item (click)="CerrarSesion()">Cerrar Sesion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="background">

  <ion-router-outlet id="main">
    
    

  </ion-router-outlet>

  
  <ion-tabs >
    <ion-tab-bar slot="bottom" style='background:#751722dc' >

      <ion-tab-button tab="pedidos-sin-confirmar" style='background:#751722'>
        <ion-icon color='light' name="cafe"></ion-icon>
        <ion-label color='light'>SIN CONFIRMAR</ion-label>
      </ion-tab-button> 
  
      <ion-tab-button tab="pedidos-pendientes" style='background:#751722'>
        <ion-icon  color='light' name="time"></ion-icon>
        <ion-label color='light'>PENDIENTES</ion-label>
      </ion-tab-button> 
  
      <ion-tab-button tab="pedidos-terminados" style='background:#751722;'>
        <ion-icon  color='light' name="checkmark-circle"></ion-icon>
        <ion-label color='light'>FINALIZADOS</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  
  

</ion-content>

