<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)='CerrarModal()'>
      <ion-back-button defaultHref="pedidos-pendientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor='let unProducto of this.pedidoSeleccionado.listaProductos'>
      <ion-item style='--border-color:white' >
        <ion-avatar slot="start" > 
          <img [src]='unProducto.fotoUno'>
        </ion-avatar>
        <ion-label color='light'>{{unProducto.cantidad +' '+ unProducto.nombre}}</ion-label>
        <span *ngIf='this.pedidoSeleccionado.estadoPedido!==EestadoPedido.PedidoEnviadoCli'>
          <ion-button *ngIf='unProducto.terminado' color='success' style='width: 25px;height: 25px'>✔</ion-button>
          <ion-button *ngIf='!unProducto.terminado' color='dark' style='width: 25px;height: 25px'>❌</ion-button> 
        </span>        
      </ion-item>    
    </div>   
  </ion-list>

     <ion-button (click)="this.CancelarPedido()" color='light' expand='block' class='pl-2 pr-2 '>Cancelar Pedido</ion-button>
     <ion-button (click)="this.EntregarPedido()" [disabled]='this.colorBoton==="dark"' [color]='this.colorBoton' expand='block' class='pl-2 pr-2 '>Entregar Pedido</ion-button>


</ion-content>