/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */




@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-class {
    --background: rgb(0, 0, 0);    
     
      .alert-title {
        white-space: pre;
        color:rgb(255, 255, 255); 
      }

      .alert-message {
        white-space: pre;
        color:rgb(255, 255, 255);        
      }
      .alert-button{
        color:rgb(255, 255, 255);
        
      }

  }

  

.loading{
   --background: rgb(12, 12, 12);        
   color:white
}



.menuMesas{
    
  --background: #751722;    
  --color:white;
  --button-color:white;    
}


.menuProductos{
  --background: #751722;    
  .alert-message {
    color:white;
  }
  .alert-button{
    color:rgb(255, 255, 255);
    
  } 
}

.action-sheet-group.sc-ion-action-sheet-md{
  --background: #1f1f1f;
  --color:white;
  --button-color:white;
  --button-color-focused: white;
  --button-color-selected:white;
}