<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Estadisticas</ion-title>  
   </ion-toolbar>
</ion-header> 

<ion-content class="background">

  <ion-item color="dark">
    <ion-label color="light">Grafico</ion-label>
    <ion-select class="custom-options" value=1 cancel-text="Cerrar" interface="action-sheet" (ionChange)="selectCategoria($event);">
      <ion-select-option value=1>Calificación del servicio</ion-select-option>
      <ion-select-option value=2>Experiencia con aplicación</ion-select-option>
      <ion-select-option value=3>Recomendaría restaurante</ion-select-option>
      <ion-select-option value=4>Preferencia del menu</ion-select-option>
    </ion-select>
  </ion-item>

  <h3 style="text-align: center; color: white;">{{titulo}}</h3>
  <div *ngIf='cargo'>
    <div>
      <div style="display: block;">
        <ng-container *ngIf="cambiarChart==false">
        <canvas width="400" height="400" baseChart [data]="pieChartData" [labels]="pieChartLabels"
          [chartType]="pieChartType" [options]="optionsPie " [colors]="pieChartColors"
          class="bg-dark">
        </canvas>
        </ng-container>

        <ng-container *ngIf="cambiarChart==true">
        <canvas width="400" height="400" baseChart [data]="barChartData" [labels]="barChartLabels"
          [chartType]="barChartType" [options]="optionsBar" [colors]="barChartColors"
          class="bg-dark">
        </canvas>
        </ng-container>
      </div>
    </div>
  </div>
  

</ion-content>
