<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home-cliente"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Espera Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/estado-pedido" class="botonesMenu" expand="block" color="warning">Vea el estado del pedido</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/encuesta-cliente" class="botonesMenu" expand="block" color="warning">Encuesta</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="botonesMenu" expand="block" color="warning" (click)="ModalPedirCuenta()">Pedir Cuenta</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>