<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home-cliente"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Espera Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  


  <ion-grid >
    <ion-row>
      <ion-col class="text-center">
          <ion-button class='botonEstado'  style="height: 20vh;" expand='block' routerLink="/estado-pedido"  color='dark'>
              <img src="assets/cliente/cliente-estado-1.gif" >            
              <h6>Estado de <br>los Pedidos</h6>    
          </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center">
          <ion-button class='botonEstado'   style="height: 19vh;" expand='block' routerLink="/encuesta-cliente"  color='dark'>
              <img src="assets/cliente/encuesta.svg" style="height: 15vh;" >            
              <h6 class="pl-3">Encuesta </h6>
          </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center">
          <ion-button class='botonEstado'   style="height: 19vh;" expand='block' routerLink="/juegos-cliente"  color='dark'>
            <ion-icon name="game-controller" style="font-size:15vh" ></ion-icon>         
              <h6 class="pl-3">Juegue y <br> gane promociones</h6>    
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-button [disabled]='' style="height: 18vh;" class="botonEstado" expand="block" color="warning">
          <img src='assets/cliente/pago.svg' style="height: 14vh;">
          <h6 class="pl-3">Pedir Cuenta</h6>
        </ion-button>
      </ion-col>  
    </ion-row>

  </ion-grid>


</ion-content>