<ion-header>
  <ion-toolbar>
    <ion-title align="center">Detalles</ion-title>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let prod of this.mesaInfo.listaProductos">
    <ion-item>
      <ion-avatar slot="start">
        <img src={{prod.fotoUno}}>
      </ion-avatar>
      <ion-label>
        <h2>{{prod.nombre}}</h2>
        <p>Cantidad: {{prod.cantidad}}</p>
        <p>Precio Unitario: ${{prod.precio}}</p>
        <h3 style="position: relative; text-align: end;">Precio Total: ${{prod.precio * prod.cantidad}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <!--ion-item>
      <ion-label>Descuentos por Juegos:</ion-label>
      <ion-label style="text-align: end; position: relative;">-$100</ion-label>
    </ion-item-->
    <ion-item>
      <ion-label>Propina: </ion-label>
      <ion-label style="text-align: end; position: relative;">${{this.mesaInfo.propina}}</ion-label>

    </ion-item>
    <ion-item>
      <ion-label>Total:</ion-label>
      <ion-label style="text-align: end; position: relative;">${{this.mesaInfo.precioPagado}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
