<ion-header>
  <ion-toolbar>
    <ion-title align="center">Detalles</ion-title>
    <ion-buttons slot="start" style="position: absolute;">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let prod of this.mesaInfo.listaProductos">
    <ion-item>
      <ion-avatar slot="start">
        <img src={{prod.fotoUno}}>
      </ion-avatar>
      <ion-label>
        <h3 style="position: relative; text-align: end;">
          <ion-badge color="warning" *ngIf="this.mesaInfo.gano2 && prod.tipo=='bebida'">Una bebida regalada!
          </ion-badge>
        </h3>
        <h3 style="position: relative; text-align: end;">
          <ion-badge color="warning" *ngIf="this.mesaInfo.gano3 && prod.tipo=='postre'">Un postre regalado!
          </ion-badge>
        </h3>

        <h2>{{prod.nombre}}</h2>
        <p>Cantidad: {{prod.cantidad}}</p>
        <p>Precio Unitario: ${{prod.precio}}</p>
        <h3 style="position: relative; text-align: end;">Precio Total: ${{prod.precio * prod.cantidad}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label *ngIf="this.mesaInfo != null">
        <h2>Descuentos ganados en Juegos:</h2>
        <h3 *ngIf="this.mesaInfo.gano1">Gano un 10% de descuento en el precio Total</h3>
        <h3 *ngIf="this.mesaInfo.gano2">Gano una bebida Gratis!</h3>
        <h3 *ngIf="this.mesaInfo.gano3">Gano un postre Gratis!</h3>
        <h3 *ngIf="!this.mesaInfo.gano1 && !this.mesaInfo.gano2 && !this.mesaInfo.gano3">No gano ningun descuento</h3>
        <p>Los descuentos ya estan aplicados al precio total.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Propina: </ion-label>
      <ion-label style="text-align: end; position: relative;">${{this.mesaInfo.propina}}</ion-label>

    </ion-item>
    <ion-item>
      <ion-label>Total:</ion-label>
      <ion-label style="text-align: end; position: relative;">${{this.mesaInfo.precioPagado}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>