<ion-header>
  <ion-toolbar>
    <ion-button class="botonSalir " slot="start" (click)="CerrarSesion()">
      <ion-icon class="icono" color='light' src='assets/puerta.svg'></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Pedidos Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">


  <ion-list style='background:#ffc60986' class='ml-2 mt-2 mr-2'>

      <ion-item *ngFor='let unPedido of this.listaPedidosPreparando' (click)='SeleccionarPedido(unPedido)' style='--background:#75172200;--border-color:black'>
          <ion-avatar slot="start" >
            <img [src]='unPedido.cliente.foto'>
          </ion-avatar>
          <ion-label color='dark'>{{unPedido.cliente.apellido +' '+ unPedido.cliente.nombre}}</ion-label>
          <ion-icon class='bg-dark text-warning rounded' name="alert-circle" slot="end"></ion-icon>
      </ion-item>
      
      <ion-item *ngFor='let unPedido of this.listaPedidosRecibidos' (click)='SeleccionarPedido(unPedido)' style='--background:#75172200;--border-color:black'>
        <ion-avatar slot="start" >
          <img [src]='unPedido.cliente.foto'>
        </ion-avatar>
        <ion-label color='dark'>{{unPedido.cliente.apellido +' '+ unPedido.cliente.nombre}}</ion-label>
        <ion-icon class='bg-dark text-danger rounded' name="alert-circle" slot="end"></ion-icon>
        
    </ion-item>

    <ion-item *ngIf='this.listaPedidosRecibidos.length===0 && this.listaPedidosPreparando.length===0'  style='--background:#75172200;--border-color:black'>
      <ion-title class='text-center'>No hay pedidos</ion-title>
    </ion-item>


  </ion-list>
 
</ion-content>