<!--<ion-header>
  <ion-toolbar>

    <ion-button class="botonSalir " slot="start" (click)="CerrarSesion()">
      <ion-icon class="icono" color='light' src='assets/puerta.svg'></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>-->

<ion-fab vertical="center" horizontal="start" slot="fixed">
  <ion-fab-button color="dark">
    <ion-icon name="apps-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color='dark' (click)="this.IrMenuBienvenida()">
      <ion-icon name="play-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='dark' (click)="this.IrMenuEspera()">
      <ion-icon name="time"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='dark' (click)="this.IrMenuCliente()">
      <ion-icon name="fast-food-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='dark' (click)="this.IrMenuEsperaCliente()">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='dark' (click)="this.IrMenuListaEspera()">
      <ion-icon name="list-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>



<ion-fab horizontal="start" vertical="top">
  <ion-fab-button color="dark" (click)="CerrarSesion()">
    <ion-icon src='assets/puerta.svg'></ion-icon>
  </ion-fab-button>
</ion-fab>



<ion-content class="background">
  <br>

  <!--Vista para que entre a la lista de espera-->
  <ion-card *ngIf="this.BanderaMostrarBienvenido">
    <ion-card-header>
      <h1 style="color: white; text-align: center; font-size: 50px;">Bienvenido</h1>
      <div align='center'>
        <img src="../../../../assets/splash/center.png" class="w-75">
      </div>
    </ion-card-header>
    <ion-card-content>
      <p style="text-align: center; color:white;font-size: 20px;">Se necesita escanear el QR para ingresar a la sala de
        espera
      </p>
      <br>
      <br>
      <br>
      <ion-fab vertical="bottom" horizontal="center">
        <ion-fab-button color="success" (click)="ScanQRBienvenido()">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>


  <!---Esperando la asignacion del metre--->
  <ion-card *ngIf="this.BanderaMostrarEspera && this.SolicitudDeMesaEnBD != null">
    <ion-card-header *ngIf="this.SolicitudDeMesaEnBD.estadoSolicitud == this.enumEstadosSolicitud.Pendiente">
      <h1 style="color: white; text-align: center; font-size: xx-large;">Esperando la asignacion de mesa</h1>
      <img class="scale-up-center" src="../../../../assets/splash/center.png">
    </ion-card-header>
    <ion-card-header *ngIf="this.SolicitudDeMesaEnBD.estadoSolicitud == this.enumEstadosSolicitud.Aceptar">
      <h1 style="color: white; text-align: center; font-size: xx-large;">Mesa Asignada!!</h1>
      <h1 style="color: white; text-align: center; font-size: xx-large;">Su mesa es:
        {{this.SolicitudDeMesaEnBD.numMesa}}</h1>
    </ion-card-header>
    <ion-card-content *ngIf='this.SolicitudDeMesaEnBD.estadoSolicitud == this.enumEstadosSolicitud.Aceptar'>
      <p style="text-align: center; color: white;">Por favor. Escanee el QR de la mesa asignada</p>
      <br>
      <br>
      <br>
      <ion-fab vertical="bottom" horizontal="center">
        <ion-fab-button color="success" (click)="ScanQRMesa()">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <div *ngIf='BanderaListaEspera'>
      <ion-card class="cardSelect" (click)='AgregarListaDeEspera()'>
        <img src="assets/cliente/mesa.svg" height="10%" width="70%">
        <ion-card-content>
          <ion-card-title color='light' >Solicitar Mesa</ion-card-title>
        </ion-card-content>
      </ion-card>
    <br>
      <ion-card class="cardSelect" (click)='IrGraficos()'>
        <img src="assets/cliente/encuesta.svg"  class="mt-2" height="10%" width="70%">
        <ion-card-header>
          <ion-card-title color='light'>Ver estadisticas</ion-card-title>
        </ion-card-header>
      </ion-card>    
  </div>


  <ion-tabs *ngIf="this.BanderaMenuCliente" class="tabEstilo">
    <ion-tab-bar slot="bottom"> 
      <ion-tab-button tab="pedir">
        <ion-icon color="light" name="fast-food"></ion-icon>
        <ion-label color="light">Pedir</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <ion-icon color="light" name="chatbubbles"></ion-icon>
        <ion-label color="light">Chat</ion-label>
        <!--<ion-badge>6</ion-badge>-->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>