ion-content.background {
  --background: url("../../../../assets/fondoLogin.png")center center fixed no-repeat;
  background-size: contain;
}

ion-toolbar {
    --ion-background-color: #000000 !important;
    color: white;
}
  
ion-card {
  --ion-background-color: #751722c4;
}

.tabEstilo{
  --ion-background-color: #751722c4;
}



.botonesMenu {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.botonSalir {
  --background: rgb(34, 32, 32);
  --border-radius:50%;
  width: 50px;
  height: 50px;
}

.my-custom-class {
  --background: red !important;
}


.scale-up-center {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
          animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}