<ion-header>
  <ion-toolbar>
    <ion-button class="botonSalir " slot="start" (click)="CerrarSesion()">
      <ion-icon class="icono" color='light' src='assets/puerta.svg'></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Clientes Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div *ngFor="let item of this.listadoUsuarios">


      <!--3 Es igual a cliente-->
      <div *ngIf="item.perfil == 3 && !item.habilitado">
        <ion-card color="dark">
          <img src={{item.foto}}>
          <ion-card-header>
            <ion-card-title>{{item.nombre}} {{item.apellido}}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <ion-card-subtitle>DNI: {{item.dni}}</ion-card-subtitle>
            <ion-card-subtitle>Correo: {{item.correo}}</ion-card-subtitle>
  
            <ion-button color="success" [disabled]="item.habilitado" (click)="AceptarCliente(item)">Aceptar</ion-button>
            <ion-button color="danger" [disabled]="item.habilitado" (click)="RechazarCliente(item)">Rechazar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
      
    </div>

    <div *ngIf='this.listadoUsuarios.length===0'>

      <!--3 Es igual a cliente-->
      
        <ion-card color="dark" class="text-center">
          <img src='assets/metre/cronometro.svg' class="w-75 h-75">
          <ion-card-header>
            <ion-card-title class="text-center">No han llegado clientes nuevos</ion-card-title>
          </ion-card-header>
        </ion-card>
    </div>
  
</ion-content>
